* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Allmeetups {
  height: 100vh;
  background: #000;
}
.dummy-data {
  height: 100vh;
  background: #000;
}
.page3 {
  height: 100vh;
  background: #000;
}
.preloader {
  height: 100vh;
  background: #000;
  padding-top: 25rem;
}
.style-Pre {
  width: 100%;
  display: grid;
  place-items: center;
}
#style-preloader {
  width: 100px;
  height: 100px;
}
