.meetupitems {
  width: 100%;
  margin-top: 2rem;
}

.meetup-card {
  width: 100%;
  display: grid;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: #080808;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem;
  border: 2px solid #383636;
}

.meetup-card:hover {
  border: 2px solid #1da1f2;
  cursor: pointer;
}

.meetup-card {
  width: 60%;
  height: 700px;
  margin: 0 auto;
}

.image {
  padding-top: 1rem;
  width: 70%;
  margin: 0 auto;
}

img {
  width: 600px;
  height: 400px;
  border-radius: 0.5rem;
}
.descrpition {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  font-family: monospace;
  font-size: 1rem;
}
.address {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
}
