.form-box {
  padding-top: 8rem;
  background: #000;
}
.form-submit {
  width: 50%;
  margin: 0 auto;
  background: #000;
  display: grid;
  place-items: center;
}
.form-items {
  width: 100%;
  height: 70vh;
  background: #080808;
  display: grid;
  place-items: center;
  grid-gap: 1rem;
  border: 2px solid #383636;
  padding: 2rem;
  border-radius: 0.5rem;
}
.form-items:hover {
  border: 2px solid #1da1f2;
}

.row1 {
  width: 90%;
  /* background: #001219; */
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  color: #ffff;
}
input {
  width: 400px;
  height: 50px;
  font-size: 1rem;
  background: rgb(26, 25, 25);
  color: #ffff;
  border: none;
  outline: none;
  padding-left: 1rem;
  font-family: sans-serif;
  border-radius: 0.2rem;
}

input:hover {
  border: 2px solid #1da1f2;
}
textarea {
  width: 400px;
  height: 120px;
  font-size: 1rem;
  background: rgb(26, 25, 25);
  color: #ffff;
  border: none;
  outline: none;
  padding-left: 1rem;
  font-family: sans-serif;
  padding-top: 1rem;
  border-radius: 0.2rem;
}

textarea:hover {
  border: 2px solid #1da1f2;
}
label {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #cfc7c7;
  font-family: monospace;
}

button {
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: #1da1f2;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #ffff;
}
button:hover {
  font-size: 1.2rem;
}
