.meetupitems {
  width: 100%;
  margin-top: 3rem;
}

.meetup-card {
  width: 100%;
  padding: 1rem;
  display: grid;
  place-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: #161a1d;
  border-radius: 0.5rem;
}

.meetup-card {
  width: 60%;
  margin: 0 auto;
}

.image {
  padding-top: 1rem;
  width: 50%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.descrpition {
  padding-top: 2rem;
}
.address {
  padding-top: 0.5rem;
}
