* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App > h1 {
  padding-top: 3rem;
  text-align: center;
}
.Addcard {
  width: 90%;
  margin: 0 auto;
  height: 200px;
  margin-top: 2rem;
  background: #c9bebe66;
  display: grid;
  place-items: center;
}
.search {
  width: 60%;
  height: 45px;
  display: flex;
  gap: 0.3rem;
}
.search > input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 1rem;
  font-size: 1.2rem;
}

.search > button {
  width: 40%;
  height: 100%;
  cursor: pointer;
  font-size: 1rem;
}
